.dropdown {
  display: none;
  position: absolute;
  top: 90%;
  right: 5%;
  padding: 8px;
  background-color: #b43232;
  border: 1px solid #ccc;
  z-index: 1;

  button {
    width: 100%;
    padding: 8px;
    text-align: left;
    border: none;
    background: none;
    cursor: pointer;

    &:hover {
      background-color: #f1f1f1;
    }
  }
}
//.header__button-wrapper:hover .dropdown {
//  display: block;
//}

