@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins';

// For mobile tablets:
@media screen and (max-width: $screen-sm) {
  .react-datepicker__input-container .react-datepicker__calendar-icon {
    padding: 28px 12px 6px;

    // For mobile phones:
    @media screen and (max-width: $screen-md) {
      padding: 24px 8px 6px;
    }
  }

  .react-datepicker__view-calendar-icon input {
    padding: 28px 30px 6px;
    max-width: 150px;

    // For mobile phones:
    @media screen and (max-width: $screen-md) {
      padding: 24px 30px 6px;
    }
  }
}
