@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins';

// For mobile tablets:
@media screen and (max-width: $screen-sm) {
  .search {
    width: 25px;
    aspect-ratio: 1/1;
    fill: $secondary-text-color;

    // For mobile phones:
    @media screen and (max-width: $screen-md) {
      width: 16px;
    }
  }
}
