// Fonts
$font-family: (Roboto, sans-serif);

//Color
$primary-color: #3077c6;
$primary-dark-color: #10367c;
$accent-color: #f5bd41;
$text-color: #383838;
$secondary-text-color: #bfbfbf;
$general-white-color: #ffffff;
$border-light-color: #f3f3f4;
$bg-color: #eaf0f9;

//Screen
$screen-sm: 1024px;
$screen-md: 600px;

// Space
$line-height: 1.16;
$line-height-extra: 1.5;

//Flex layout
$col-width: 100% / 12;
$col-width-md: 100% / 6;

//Indents:
$section-title-bottom-lg: 104px;
$section-title-bottom-md: 80px;
$section-title-bottom-sm: 32px;

$section-padding-top-bottom-lg: 120px;
$section-padding-top-bottom-md: 80px;
$section-padding-top-bottom-sm: 40px;

//Button-radius:
$button-radius-lg: 8px;
$button-radius-md: 6px;
$button-radius-sm: 4px;

//// Fonts-size
//$font-large: 40px;
//$font-big: 24px;
//$font-medium: 18px;

//@import "mixins";
////Size
////$max-width-container: 1232px;
////$padding-container: 104px;
//@include size-container(1232px, 104px)

$unit: 16px;
//$block-space: 120px;
//$title-bottom: 104px;
//$basic-radius: 8px;

//For mobile tablets (max-width: 1024px):
@media screen and (max-width: 1024px) {
  //// Fonts-size
  //$font-large: 34px;
  //$font-big: 20px;
  //$font-medium: 16px;

  ////Size
  //$max-width-container: 656px;
  //$padding-container: 54px;

  $unit: 8px;
  //$block-space: 80px;
  //$title-bottom: 80px;
  //$basic-radius: 6px;
}

//For mobile phones (max-width: 600px):
@media screen and (max-width: 600px) {
  // Fonts-size
  //$font-big: 28px;
  //$font-medium: 15px;

  ////Size
  //$padding-container: 16px;

  //$block-space: 40px;
  //$title-bottom: 32px;
  //$basic-radius: 4px;
}
