@mixin size-container($width, $padding) {
  max-width: $width + $padding * 2;
  padding: 0 $padding;
  width: 100%;
}

//Font size
@mixin font-size($size) {
  font-size: $size;
}

//Block-padding
@mixin block-padding($paddingTop, $paddingBottom) {
  padding-top: $paddingTop;
  padding-bottom: $paddingBottom;
}

// Title-bottom
@mixin title-bottom($bottom) {
  margin-bottom: $bottom;
}
