@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins';

.icon-logo {
  width: 205px;
  height: 40px;

  // For mobile tablets:
  @media screen and (max-width: $screen-sm) {
    width: 150px;
    height: 32px;
  }

  // For mobile phones:
  @media screen and (max-width: $screen-md) {
    width: 122px;
    height: 24px;
  }
}
