@import '../../styles/abstracts/variables';

.col-lg-1 {
  width: $col-width;
}

.col-lg-2 {
  width: calc($col-width * 2);
}

.col-lg-3 {
  width: calc($col-width * 3);
}

.col-lg-4 {
  width: calc($col-width * 4);
}

.col-lg-5 {
  width: calc($col-width * 5);
}

.col-lg-6 {
  width: 50%;
}

.col-lg-7 {
  width: calc($col-width * 7);
}

.col-lg-8 {
  width: calc($col-width * 8);
}

.col-lg-9 {
  width: calc($col-width * 9);
}

.col-lg-10 {
  width: calc($col-width * 10);
}

.col-lg-11 {
  width: calc($col-width * 11);
}

.col-lg-12 {
  width: 100%;
}

[class*='col-'] {
  padding-left: calc($unit / 2);
  padding-right: calc($unit / 2);
}

//For mobile tablets:
@media screen and (max-width: $screen-sm) {
  .col-md-1 {
    width: $col-width;
  }

  .col-md-2 {
    width: calc($col-width * 2);
  }

  .col-md-3 {
    width: calc($col-width * 3);
  }

  .col-md-4 {
    width: calc($col-width * 4);
  }

  .col-md-5 {
    width: calc($col-width * 5);
  }

  .col-md-6 {
    width: 50%;
  }

  .col-md-7 {
    width: calc($col-width * 7);
  }

  .col-md-8 {
    width: calc($col-width * 8);
  }

  .col-md-9 {
    width: calc($col-width * 9);
  }

  .col-md-10 {
    width: calc($col-width * 10);
  }

  .col-md-11 {
    width: calc($col-width * 11);
  }

  .col-md-12 {
    width: 100%;
  }

  [class*='col-'] {
    padding-left: 8px;
    padding-right: 8px;
  }

  [class*='col-md']._right {
    display: flex;
    justify-content: flex-end;
  }

  [class*='col-md']._center {
    display: flex;
    justify-content: center;
  }

  [class*='col-md']._left {
    display: flex;
    justify-content: flex-start;
  }
}

//For mobile phones:
@media (max-width: $screen-md) {
  .col-sm-1 {
    width: $col-width-md;
  }

  .col-sm-2 {
    width: calc($col-width-md * 2);
  }

  .col-sm-3 {
    width: 50%;
  }

  .col-sm-4 {
    width: calc($col-width-md * 4);
  }

  .col-sm-5 {
    width: calc($col-width-md * 5);
  }

  .col-sm-6 {
    width: 100%;
  }

  [class*='col-sm']._right {
    display: flex;
    justify-content: flex-end;
  }

  [class*='col-sm']._center {
    display: flex;
    justify-content: center;
  }

  [class*='col-sm']._left {
    display: flex;
    justify-content: flex-start;
  }
}
