@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins';

.search-form--desktop {
  border: 3px solid $border-light-color;
  gap: 0;
  border-radius: $button-radius-lg;
  background-color: white;
  font-size: 18px;
  grid-template-columns:
    minmax(150px, 1fr) minmax(150px, 259px) minmax(150px, 314px)
    minmax(150px, 192px);
}

.desktop-form {
  margin-bottom: 120px;

  // For mobile tablets:
  @media screen and (max-width: $screen-sm) {
    display: none;
  }
}

.desktop-form__input {
  position: relative;
  width: 100%;
}

.desktop-form__input > label {
  position: absolute;
  top: 50%;
  left: 24px;
  transform: translateY(-50%);
  transition: all 0.3s;
  pointer-events: all;
}

.desktop-form__input-city {
  border: 3px solid transparent;
  border-radius: $button-radius-lg;
  margin-left: -3px;
  margin-top: -3px;
  margin-bottom: -3px;
}

.desktop-form__input-date,
.desktop-form__input-filter {
  border: 3px solid transparent;
  border-radius: $button-radius-lg;
  margin-top: -3px;
  margin-bottom: -3px;
}

.desktop-form__input-city:hover,
.desktop-form__input-date:hover,
.desktop-form__input-filter:hover {
  border: 3px solid $accent-color;
  border-radius: $button-radius-lg;
}

.desktop-form__input-city:focus,
.desktop-form__input-date:focus,
.desktop-form__input-filter:focus {
  border: 3px solid $accent-color;
}

.desktop-form__input-city:focus ~ label,
.desktop-form__input-city:not(:focus):valid ~ label,
.desktop-form__input-date:focus ~ label,
.desktop-form__input-date:not(:focus):valid ~ label {
  top: -40px;
  color: $general-white-color;
  opacity: 1;
}

.desktop-form__button-search {
  font-weight: 500;
  font-size: 24px;
  margin-left: 3px;
  margin-top: -3px;
  margin-bottom: -3px;
  border: 3px solid $primary-color;
  border-radius: $button-radius-lg;
}

.desktop-form__button-search:hover,
.desktop-form__button-search:focus {
  border: 3px solid $accent-color;
}
