@import '../../styles/abstracts/variables';
@import '../../styles/abstracts/mixins';

.desktop-form__filter {
  position: absolute;
  top: 65px;
  left: 67%;
}

.filter {
  background-color: $general-white-color;
  max-width: 260px;
  border-radius: 8px;
  padding: 22px;
  box-shadow: 1px 1px 10px #3a3333;
}

.filter__counters {
  margin-bottom: 16px;
}

.counter-item {
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

//.counter__button {
//  width: 30px;
//  height: 30px;
//  border: 1px solid $primary-color;
//  font-size: 18px;
//  font-weight: 400;
//}

.button-disabled {
  border: 1px solid rgba(206, 206, 206, 1);
  color: rgba(206, 206, 206, 1);
}

//Применен
.counter__label {
  font-size: 16px;
  width: 70px;
}

//Применен
.counter__input {
  font-size: 16px;
  max-width: 30px;
  text-align: center;
}

.filter__adults {
  margin-bottom: 12px;
}

.filter__children {
  margin-bottom: 12px;
}

.filter__children-question {
  font-size: 12px;
  margin-bottom: 16px;
}

.filter__children-select {
  max-width: 100px;
  width: 100%;
  font-size: 12px;
  padding: 8px;
  border: 1px solid $primary-color;
  cursor: pointer;
  margin-bottom: 8px;
  margin-right: 8px;
}

//.filter__children--disabled {
//  display: none;
//}
//
//.desktop-form__filter--disabled {
//  display: none;
//}
