@import '../../../styles/abstracts/variables';
@import '../../../styles/abstracts/mixins';

.images {
  display: block;
  max-width: 296px;
  width: 100%;
  aspect-ratio: 1/1;

  // For mobile tablets:
  @media screen and (max-width: $screen-sm) {
    max-width: 328px;
  }

  // For mobile phones:
  @media screen and (max-width: $screen-md) {
  }
}
