@import '../../../styles/abstracts/variables';
@import '../../../styles/abstracts/mixins';

.top-section {
  min-height: 100vh;
  background-image: url('../../../../public/images/jpg/background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-top: 293px;
  padding-bottom: 120px;

  // For mobile tablets:
  @media screen and (max-width: $screen-sm) {
    padding-top: 150px;
    padding-bottom: 80px;
  }

  // For mobile phones:
  @media screen and (max-width: $screen-md) {
    padding-top: 88px;
    padding-bottom: 80px;
  }

  &__title {
    color: white;
    max-width: 542px;
    font-size: 50px;
    text-align: left;
    margin-bottom: 145px;

    // For mobile tablets:
    @media screen and (max-width: $screen-sm) {
      max-width: 475px;
      font-size: 40px;
      @include title-bottom(80px);
    }

    // For mobile phones:
    @media screen and (max-width: $screen-md) {
      max-width: 328px;
      font-size: 30px;
    }
  }
}

.visually-hidden {
  clip: rect(0 0 0 0);
  clip-path: inset(100%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
}
